:root {
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background-color: palegoldenrod;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 12px 0;
    max-width: 500px;
    background-color: burlywood;
}

img {
    border: 1px solid black;
}

main {
    background-color: lightgoldenrodyellow;
    padding: 12px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
}

.heading-link {
    text-decoration: none;
    color: #000000;
}

.nav-list {
    line-height: 2.5rem;
}